.Header img{height: 10vh;}
.Header{text-align: center;}

.Header nav{
    background-color: black;
    font-size: 1.2rem;
    max-height: 5vw;
}

.Header nav a{
    text-decoration: none;
    color: white;
    padding: 0 4vw;
    max-height: 5vw;
}
.Header nav a:hover{
    background-color: gray;
}